

@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');






*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Inter;
    
}

.body-font {
  font-family: Inter;
  font-optical-sizing: auto;
  
  
}

/*----------hero section-----*/

.banner-container{
max-width: 1440px;
max-height: 652px;
margin: 30px auto;

background-image: url(imge/Hero-bg.png);

}

.banner-content{
max-width: 998px;
max-height: 582px;
margin: 26px  auto 44px auto;
top: 157px;
bottom: 4506px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;

}

.banner-img{
    width: 240.28px;
    height: 240px;
    margin: 26px auto;
}

.banner-text{
/* Frame 3 */
position: static;
width: 998px;
height: 310px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 32px 0px;
}

.banner-text h1{
    
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
}

.banner-text p
    {
    color: rgb(13, 19, 33);
font-size: 18px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
margin-top: 24px;
}
.banner-content button{
max-width: 328px;
height: 66px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 5px 18px;
background-color: black;
margin: 28px 0px;
border-radius: 5px;
}
.banner-content button a{
    color: rgb(250, 250, 250);
    font-family: Inter;

font-size: 18px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
}

/*-----------development-content-------*/

.development-container{
max-width: 1140px;
height: 1150px;
margin: 0 auto;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
background: rgba(13, 19, 33, 0.02);
}
.development-content{
position: static;
max-width: 946px;
height: 1235px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
margin: 0px 10px;
}

.development-text{

    max-width: 852px;
    height: 115px;
    margin: 0 auto;
}

.development-text h1{
    text-align: center;
    color: rgb(13, 19, 33);

font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
margin: 12px 0;
}
.development-text p{
    color: rgb(13, 19, 33);

font-size: 18px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
margin: 12px 0;
}

.development-item{
   
width: 946px;
height: 320px;
display: flex;
margin: 0 auto;
flex-direction: column;
justify-content: center;
align-items: center;
align-self: stretch;
}

 .development-left-items{
    width: 850px;
    height: 220px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.development-left-1st{
    width: 477px;
    height: 220px;
    margin: 0 auto;
    gap: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: left;
}

.development-left-1st h1{
    color: rgba(13, 19, 33, 0.7);
font-size: 24px;
font-weight: 700;
line-height: 36px;
}
.development-left-1st p{
    color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
line-height: 26px;
}

.development-left-2nd{
    width: 259px;
    height: 220px;
    border: 1px solid rgb(2, 2, 2);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.development-left-1st button{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    padding: 6px 15px;
    border-radius: 5px;
}

.development-left-1st button a{
    color: black;
}

/*-----------video container----------*/
.video-container{
width: 1140px;
height: 777px;
margin: 50px auto;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;


}
.video-content{
width: 852px;
height: 115px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;
margin: 20px 0px;
}
.video-content h1{
    color: rgb(13, 19, 33);
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
margin: 12px auto;
}
.video-content p{
    color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
margin: 12px auto;
}
.video{
    /* Frame 14 */
position: static;
width: 1140px;
height: 614px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 32px;


/* Inside Auto Layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 48px 0px;
}
.video iframe{
width: 1076px;
height: 550px;
align-self: stretch;
margin: 10px 0px;
}

/*----------current container----------*/
.current-container{
width: 1140px;
height: 463px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
margin: 0 auto;
margin-top: 184px;
}
.current-text{
    width: 852px;
    height: 115px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
}
.current-text h1{
    color: rgb(20, 19, 19);
    font-size: 32px;
    line-height: 60px;
    font-weight: 700;
    line-break: 38px;
    
}
.current-cards{
    width: 1140px;
    height: 650px;
    margin: 40px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    

}
.current-card-1, .current-card-2, .current-card-3{
    width: 356px;
    height: 350px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    padding: 25px;
    background-color: rgba(234, 213, 189, 0.312);
    border-radius: 6px;
    line-height: 23px;
    box-shadow: 2px 2px 10px rgb(216, 210, 209);
    

}
.current-card-2{
    background-color: rgba(170, 209, 231, 0.312);
}

.current-card-1 img, .current-card-2 img, .current-card-3 img{
    width: 56px;
    height: 56px;
    margin-bottom: 20px;
    
}
.current-card-1 h2, .current-card-2 h2, .current-card-3 h2{
    width: 22px;
    font-weight: 700px;
    list-style: 36px;
    margin-bottom: 12px;
}
.current-card-1 p, .current-card-2 p, .current-card-3 p{
    color: rgb(13, 19, 33);
font-size: 18px;
font-weight: 400;
line-height: 27px;
text-align: left;
margin-bottom: 15px;
}

.current-card-1 a, .current-card-2 a, .current-card-3 a{
    color: black;
    text-decoration: underline;

}

/*-----------footer support sec----------*/

.support-container{
    max-width: 1140px;
    height: 315px;
    margin: 120px auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 64px 68px;
    background-image:  url(imge/handshake.jpg);
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: overlay;
    border-radius: 18px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;

    
}
.support-content{
    width: 1044px;
    height: 187px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
    text-align: center;
    line-height: 42px;
    
}
.support-content h1{
    font-size: 42px;
    font-weight: 700;
    line-height: 40px;
}
.support-content p{
    font-size: 16px;
    font-weight: 100;
    color: rgba(240, 248, 255, 0.486);
}
.support-form{
    margin-top: 20px;
}
.support-form input{
    width: 530px;    
    padding: 0 12px;
}
.support-form button {
    width: 150px;
    font-size: 18px;
    font-weight: 400;
}
.support-form input, .support-form button{
    font-size: 18px;
    font-weight: 400;
     align-items: center;
     justify-content: center;
     height: 40px;
     border-radius: 9px;
}

/*---------footer nav--------*/
.footer-nav{
max-width: 1440px;
height: 100px;
margin: 30px auto;
padding: 32px 150px;
border: 1px solid red;


}
.footer-nav-content{
    width: 1140px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid red;
}
.footer-icon {
    
    border: 1px solid red;
    width: 36px;
    height: 36px;
    font-size: 36px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    
    gap: 18px;
    

}
